@import "reboot.scss";

body {
  font-family: Open Sans;
}

.form-label {
  padding: 5px 0;
  display: block;
  font-weight: 400;
  font-weight: bold;
}

.form-group {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.form-group .form-group {
  margin-bottom: 15px;
}

.form-control {
  padding: 7px;
}

.form-control {
  font-weight: 500;
  border: 1px solid #7f7f7fd9;
  background-color: #ffffff;
  display: block;
  width: 100%;
  border-radius: 3px;
  height: 36px;
}

.button {
  &.button-primary {
    border-top: 1px solid rgba(167, 51, 51, 0);
    box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 13%);
    font-style: normal;
    border-left: 1px solid rgba(167, 51, 51, 0);
    font-weight: 400;
    border-right: 1px solid rgba(167, 51, 51, 0);
    border-bottom: 1px solid rgba(167, 51, 51, 0);
    padding: 9px 50px;
    background-color: rgba(254, 213, 60, 1);
    border-radius: 3px;
    cursor: pointer;
  }
  &.button-danger {
    border-top: 1px solid rgba(167, 51, 51, 0);
    box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 13%);
    font-style: normal;
    border-left: 1px solid rgba(167, 51, 51, 0);
    font-weight: 400;
    border-right: 1px solid rgba(167, 51, 51, 0);
    border-bottom: 1px solid rgba(167, 51, 51, 0);
    padding: 9px 50px;
    background-color: #F56C6C;
    border-radius: 3px;
    cursor: pointer;
  }
}

textarea {
  resize: none;
}

.height-fill {
  height: 100%;
}

.flex-columns-container {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.loading {
  position: relative;

  &:after {
    content: "Loading...";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    text-align: center;
  }
}

.text-center {
  text-align: center;
}

.register-app-form {
  .required {
    .form-label::before {
      content: "*";
      color: #f56c6c;
      margin-right: 4px;
    }
  }

  .submit-button {
    position: relative;
    width: 200px;
    height: 40px;
    font-weight: bold;
  }
  
  .submit-button .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ffffff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
  }

  .has-warning input {
    border-color: #f56c6c;
  }
  
  .warning-message {
    color: #f56c6c;
    font-size: 12px;
  }
}

.text-a {
  cursor: pointer;
  margin-left: 5px;
  color: #1265eb;
  text-decoration: underline;
  &:hover {
    font-weight: bold;
  }
}
.section-title {
  text-align: center;
  margin: 30px auto;
}
.vue3-easy-data-table__main {
  overflow: visible !important;
}
.application-list {
  .application-name {
    margin-right: 5px;
    display: inline-block;
  }
  .small-button {
    padding: 5px 20px !important;
  }
  .poper {
    cursor: pointer;
    .poper-content {
      background-color: white;
      padding: 10px;
      border: 1px solid #aaa;
      border-radius: 5px;
      .title {
        font-weight: bold;
        margin-bottom: 10px;
      }
      .org-item {
        margin-bottom: 5px;
      }
      .no-data {
        text-align: center;
        color: #aaa;
        margin: 20px auto;
      }
    }
  }
  .key-box {
    width: 150px;
    padding: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
    word-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
